$colorNavItem: #c1bebe;
$paddingLeftSidebarItem: 45px;
$dinamicProgressStorage: 73%;
$primaryColor: #6672fb; //primary colors
$colorItemOne: #e8523f; //primary colors
$secondaryColor: #f8b849; //primary colors
$thirdColor: #1f998e;
