@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot-HTF-B06-Bold.eot");
  src: url("../fonts/Didot-HTF-B06-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Didot-HTF-B06-Bold.woff2") format("woff2"), url("../fonts/Didot-HTF-B06-Bold.woff") format("woff"), url("../fonts/Didot-HTF-B06-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*//////////////////////////////////////*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

.window {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px minmax(min-content, 1fr) 585px;
      grid-template-columns: 370px minmax(-webkit-min-content, 1fr) 585px;
      grid-template-columns: 370px minmax(min-content, 1fr) 585px;
  -ms-grid-rows: minmax(min-content, 100vh);
      grid-template-rows: minmax(-webkit-min-content, 100vh);
      grid-template-rows: minmax(min-content, 100vh);
}

/*///////////////left sidebar///////////*/
.left-sidebar {
  background: #121432;
  color: #fff;
}

.logo {
  display: block;
  margin: 55px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo_img {
  margin-right: 22px;
}

.logo .logo_title {
  font-family: "Didot", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 24px;
  letter-spacing: 0.0278568px;
  color: #fff;
}

.nav {
  margin-top: 85px;
}

.nav .nav_item {
  position: relative;
  margin-bottom: 47px;
}

.nav .nav_item .nav_link {
  padding: 15px 0 15px 45px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #c1bebe;
  letter-spacing: 0.617143px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav .nav_item .nav_link:hover {
  color: #fff;
}

.nav .nav_item .nav_link:hover:before {
  content: "";
  display: block;
  width: 10px;
  height: 45px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -8px;
  left: -5px;
  -webkit-transition: inherit;
  transition: inherit;
}

.storage {
  width: 160px;
  margin-top: 243px;
  padding-left: 45px;
}

.storage .storage_title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.171429px;
}

.storage .storage_progress {
  height: 6px;
  margin: 10px 0;
  background: #6672fb;
  border-radius: 4px;
}

.storage .storage_progress .progress {
  height: 100%;
  background: #f8b849;
  border-radius: 4px;
}

.storage .storage_progress .progress--dinamic {
  width: 73%;
}

.storage .storage_text {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.042857px;
  color: #bababa;
}

/*////////////////content///////////////*/
.content {
  z-index: 100;
  margin-left: -126px;
  margin-right: -167px;
  background-color: #fff;
  border-radius: 40px;
}

.content .content_container {
  padding: 34px 40px 25px;
}

.search {
  position: relative;
  height: 55px;
}

.search label {
  position: absolute;
  padding: 22px 19px 18px 21px;
  background: #d3dff7;
  border-radius: 15px;
}

.search .search_icon {
  color: #6672fb;
}

.search input {
  width: 50%;
  padding: 17px 0 17px 70px;
  border: none;
  background: #eff3fb;
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.54px;
  color: #757994;
  mix-blend-mode: normal;
  opacity: 0.67;
}

.dashboard {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.dashboard .dashboard_link-wrapper .dashboard_link {
  margin: 0 10px;
  color: #d8d8d8;
}

.dashboard .dashboard_link-wrapper .dashboard_link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #afafaf;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dashboard .dashboard_link-wrapper button {
  margin-left: 10px;
  text-decoration: none;
  border: none;
  padding: 11px;
  background-color: #6672fb;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.54px;
}

.dashboard .dashboard_link-wrapper button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dashboard .dashboard_link-wrapper button a {
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 28px;
  background: #ebf0fe;
  mix-blend-mode: normal;
  border-radius: 20px;
}

.hero .hero_text {
  width: 60%;
  padding: 25px 35px;
}

.hero .hero_text .hero_title {
  font-family: "Didot", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  color: #333539;
}

.hero .hero_text .hero_description {
  margin-top: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.54px;
  color: #4d4d4d;
}

.hero .hero_text button {
  margin-top: 22px;
  text-decoration: none;
  border: none;
  padding: 11px;
  background-color: #6672fb;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.54px;
}

.hero .hero_text button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero .hero_text button a {
  color: #fff;
}

.hero .hero_img-container {
  position: relative;
}

.hero .hero_img-container .hero_img {
  position: absolute;
  top: 37px;
  left: -43px;
}

.folders {
  margin-top: 46px;
}

.folders .section-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.folders .section-title_wrapper .section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.folders .section-title_wrapper .folders-link {
  padding: 7px 12px;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.062857px;
  color: #4d4d4d;
}

.folders .section-title_wrapper .folders-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.folders .folders-item-wrapper {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.folders .folders-item-wrapper .folders-item {
  width: 25%;
  padding: 20px;
  border-radius: 26px;
  color: #fff;
}

.folders .folders-item-wrapper .folders-item .folders-item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folders-item_icon {
  display: block;
  font-size: 22px;
  padding: 8px;
  mix-blend-mode: normal;
  color: #fff;
  border-radius: 10px;
  position: relative;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folders-item_icon .folder_user {
  position: absolute;
  left: 14px;
  top: 16px;
  font-size: 8px;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folders-item_icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folder_menu {
  color: #d8d8d8;
  padding: 5px;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folder_menu:hover {
  -webkit-transform: scale(1.5) rotateZ(180deg);
          transform: scale(1.5) rotateZ(180deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folders-item_icon--bg1 {
  background: #f27665;
}

.folders .folders-item-wrapper .folders-item .folders-item_top .folder_user--color1 {
  color: #ec634d;
}

.folders .folders-item-wrapper .folders-item--bg-one {
  background-color: #e8523f;
  -webkit-box-shadow: 0px 7px 28px rgba(255, 97, 71, 0.563456);
          box-shadow: 0px 7px 28px rgba(255, 97, 71, 0.563456);
}

.folders-item_title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.228571px;
}

.folders-item_user {
  position: relative;
  height: 26px;
  margin-top: 14px;
}

.folders-item_user .folders-item_user-fhoto-wrapper {
  width: 26px;
  height: 26px;
  position: absolute;
}

.folders-item_user .folders-item_user-fhoto-wrapper .folders-item_user-fhoto {
  width: 100%;
  border: 2px solid transparent;
}

.folders-item_user .folders-item_user-fhoto-wrapper--1 {
  left: 20px;
}

.folders-item_user .folders-item_all-user-wrapper--all {
  left: 40px;
  border-radius: 50%;
  background: #ffffff;
  color: #383d4a;
  border: 2px solid #e8523f;
}

.folders-item_user .folders-item_all-user-wrapper--all .folder-item_all-user {
  position: absolute;
  right: 5px;
  top: 3px;
}

.folders-item_files {
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.171429px;
}

.folders-item_files i {
  display: inline-block;
  margin-right: 10px;
}

.folders-item_date {
  margin-top: 15px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.171429px;
  margin-top: 8px;
}

.folders-item_date i {
  display: inline-block;
  margin-right: 10px;
}

.folders-item--bg-two {
  background: #6672fb;
  -webkit-box-shadow: 0px 7px 28px rgba(102, 114, 251, 0.5);
          box-shadow: 0px 7px 28px rgba(102, 114, 251, 0.5);
}

.folders-item--bg-two .folders-item_icon--bg2 {
  background: #7b86fd;
}

.folders-item--bg-two .folder_user--color2 {
  color: #6672fb;
}

.folders-item_user .folders-item2_user-fhoto-wrapper--2 {
  left: 40px;
}

.folders-item_user .folders-item_all-user-wrapper--all2 {
  left: 60px;
  border: 2px solid #6672fb;
}

.folders-item--bg-three {
  background: #f8b849;
  -webkit-box-shadow: 0px 7px 28px rgba(248, 184, 72, 0.5);
          box-shadow: 0px 7px 28px rgba(248, 184, 72, 0.5);
}

.folders-item--bg-three .folders-item_icon--bg3 {
  background: #ffd07e;
}

.folders-item--bg-three .folder_user--color3 {
  color: #f8b849;
}

.folders-item--bg-three .folders-item_all-user-wrapper--all3 {
  border: 2px solid #f8b849;
}

.recent-files {
  margin-top: 40px;
}

.recent-files .section-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.recent-files .section-title_wrapper .section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.recent-files .section-title_wrapper .folders-link {
  padding: 7px 12px;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.062857px;
  color: #4d4d4d;
}

.recent-files .section-title_wrapper .folders-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.recent-files_file {
  margin-top: 20px;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  border-radius: 16px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.recent-files_file:hover {
  cursor: pointer;
  background-color: #6672fb;
}

.recent-files_file:hover div,
.recent-files_file:hover .file_title-wrapper .file_title,
.recent-files_file:hover .file_links .file_link-item {
  color: #f3eded;
}

.recent-files_file .file_title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-files_file .file_title-wrapper .file_logo {
  margin-right: 18px;
  padding: 9px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.0833333px;
}

.recent-files_file .file_title-wrapper .file_logo--bg1 {
  background-color: #e8523f;
}

.recent-files_file .file_title-wrapper .file_logo--bg2 {
  background-color: #f8b849;
}

.recent-files_file .file_title-wrapper .file_logo--bg3 {
  background-color: #1f998e;
}

.recent-files_file .file_title-wrapper .file_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.116667px;
  color: #383d4a;
}

.recent-files_file .file_members {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #61657e;
}

.recent-files_file .file_date,
.recent-files_file .file_memory {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #61657e;
}

.recent-files_file .file_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recent-files_file .file_links .file_link-item {
  margin-left: 20px;
  color: #4d4d4d;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.recent-files_file .file_links .file_link-item:hover {
  -webkit-transform: scale(1.5) rotateZ(180deg);
          transform: scale(1.5) rotateZ(180deg);
}

/*////////////////right sidebar///////////////*/
.right-sidebar {
  background: #f2f2f2;
  margin-left: -167px;
}

.right-sidebar .right-sidebar_container {
  margin-left: 335px;
  padding: 30px;
}

.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 58px;
}

.profile-wrapper .notice {
  position: relative;
}

.profile-wrapper .notice:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e8523f;
  border: 2px solid #f6f9fd;
  position: absolute;
  top: 0px;
  left: 8px;
}

.profile-wrapper .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-wrapper .profile .profile_link {
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.617143px;
  color: #4d4d4d;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.profile-wrapper .profile .profile_link:hover {
  background-color: #bebebe;
}

.calendar {
  margin-top: 24px;
  padding: 20px 25px 0;
  background: #fff;
  border-radius: 16px;
}

.calendar .section-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.calendar .section-title_wrapper .section-more {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.calendar .section-title_wrapper .section-more:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.calendar_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

.calendar_time .time-controls_item {
  width: 100%;
  padding: 8px 0;
  text-align: center;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #383d4a;
}

.calendar_time .time-switcher {
  display: none;
}

.calendar_time .time-switcher:checked + .time-controls_item {
  background-color: #6672fb;
  color: #fff;
}

.calendar_month-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.calendar_month-title-wrapper a {
  padding: 4px 6px;
  border: 1px solid #b5bdcf;
  border-radius: 9px;
}

.calendar_month-title-wrapper .calendar_month-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.054167px;
  color: #383d4a;
}

.calendar_month {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr (1fr)[5];
      grid-template-rows: 1fr repeat(5, 1fr);
}

.calendar_month .calendar_week {
  margin-top: 15px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #535353;
}

.calendar_month .calendar_day {
  padding: 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #4d4d4d;
}

.calendar_month .day--last-month {
  opacity: 0.32;
}

.calendar_month .calendar_day--current {
  background: #6672fb;
  color: #fff;
  border-radius: 9px;
}

.calendar_month .calendar_day--event {
  position: relative;
}

.calendar_month .calendar_day--event:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e8523f;
  border: 2px solid #f6f9fd;
  position: absolute;
  top: 40px;
  left: 18px;
}

.calendar_month .calendar_day--reminder {
  position: relative;
}

.calendar_month .calendar_day--reminder:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #f8b849;
  border: 2px solid #f6f9fd;
  position: absolute;
  top: 40px;
  left: 18px;
}

.calendar_month .calendar_day--holiday {
  position: relative;
}

.calendar_month .calendar_day--holiday:after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #6672fb;
  border: 2px solid #f6f9fd;
  position: absolute;
  top: 40px;
  left: 18px;
}

.task {
  margin-top: 20px;
}

.task .section-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.task .section-title_wrapper .section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.task .section-title_wrapper .folders-link {
  padding: 7px 12px;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.062857px;
  color: #4d4d4d;
}

.task .section-title_wrapper .folders-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.recommendation {
  padding: 15px;
  margin-top: 15px;
  background: #fff;
  border-radius: 0 16px 16px 0;
  border-left: 10px solid #e8523f;
  border-top-left-radius: 10px 20px;
  border-bottom-left-radius: 10px 20px;
}

.recommendation .recommendation_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #383d4a;
}

.recommendation .recommendation_title .file_link-item {
  padding: 0 5px;
  font-size: 15px;
}

.recommendation .recommendation_title .file_link-item:hover {
  -webkit-transform: scale(1.5) rotateZ(180deg);
          transform: scale(1.5) rotateZ(180deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.recommendation .recommendation_data {
  margin-top: 8px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.171429px;
  color: #4d4d4d;
}

.recommendation .recommendation_data i {
  margin-right: 7px;
  font-size: 14px;
}

.recommendation .recommendation_user {
  margin-top: 10px;
  height: 22px;
  position: relative;
}

.recommendation .recommendation_user .recommendation_photo-wrapper {
  width: 22px;
  position: absolute;
}

.recommendation .recommendation_user .recommendation_photo-wrapper .recommendation_photo {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.recommendation .recommendation_user .recommendation_photo-wrapper1 {
  top: 0;
  left: 18px;
}

.recommendation .recommendation_user .recommendation_photo-wrapper2 {
  top: 0;
  left: 36px;
  width: 18px;
  height: 18px;
  padding: 3px;
  color: #fff;
  background: #383d4a;
  border: 0.8px solid #ffffff;
  border-radius: 50%;
}

.recommendation .recommendation_user .recommendation_photo-wrapper2 .recommendation_photo-all {
  position: absolute;
  left: 7px;
  top: 2px;
}

.storage-description {
  margin-top: 16px;
}

.storage-description .section-title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.storage-description .section-title_wrapper .section-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.166667px;
  color: #333539;
}

.storage-description .section-title_wrapper .folders-link {
  padding: 7px 12px;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.062857px;
  color: #4d4d4d;
}

.storage-description .section-title_wrapper .folders-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.diagram {
  margin-top: 20px;
  padding: 23px 25px 15px;
  background: #fff;
  border-radius: 16px;
}

.diagram .diagram-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagram .diagram-top .diagram_space {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0878572px;
  color: #4d4d4d;
}

.diagram .diagram-top .diagram_space span {
  color: #6672fb;
}

.diagram .diagram-top .diagram_selection-month {
  padding: 12px;
  background: #eff3fb;
  border-radius: 9px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.14px;
  color: #4d4d4d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.diagram .diagram-top .diagram_selection-month:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.diagram .diagram-top .diagram_selection-month i:first-child {
  margin-right: 8px;
  color: #6672fb;
}

.diagram .diagram-top .diagram_selection-month i:last-child {
  margin-left: 8px;
  color: #4d4d4d;
}

.diagram .diagram-wrapper img {
  width: 100%;
}

.diagram .diagram-bottom {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.0497618px;
  color: #4d4d4d;
}

.diagram .diagram-bottom .diagram-sign {
  margin-left: 20px;
  position: relative;
}

.diagram .diagram-bottom .diagram-sign::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  position: absolute;
  left: -15px;
  top: 3px;
  border-radius: 50%;
}

.diagram .diagram-bottom .diagram-sign span {
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0px;
  left: -18px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
}

.diagram .diagram-bottom .diagram-sign--color1::before {
  background: #e8523f;
}

.diagram .diagram-bottom .diagram-sign--color1 span {
  border-color: #e8523f;
}

.diagram .diagram-bottom .diagram-sign--color2::before {
  background: #f8b849;
}

.diagram .diagram-bottom .diagram-sign--color2 span {
  border-color: #f8b849;
}

.diagram .diagram-bottom .diagram-sign--color3::before {
  background: #6672fb;
}

.diagram .diagram-bottom .diagram-sign--color3 span {
  border-color: #6672fb;
}
/*# sourceMappingURL=style.css.map */